/* Site Styles Go Here */

.footer-flex{
    
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.footer-item-flex{
    flex:0 1 auto;
}

body {
 font-family: 'Work Sans', sans-serif;
 color:#424949;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
 text-decoration:underline ;
 
}